{% extends 'store/base.html' %}
{%load static %}
{% block content %}
<content>
    <asside>
 <ul>
          <form action="{% url 'store:catalog' %}">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="phone" name="type" id="flexCheck1">
                <label class="form-check-label" for="flexCheck1">
                    Phone
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="tv" name="type" id="flexCheck2">
                <label class="form-check-label" for="flexCheck2">
                    TV
                </label>
              </div>
                 <div class="form-check">
                <input class="form-check-input" type="checkbox" value="computer" name="type" id="flexCheck3">
                <label class="form-check-label" for="flexCheck3">
                    Computer
                </label>
              </div>
               <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Samsung" name="manufacturer" id="flexCheck4">
                <label class="form-check-label" for="flexCheck4">
                    Samsung
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="LG" name="manufacturer" id="flexCheck5">
                <label class="form-check-label" for="flexCheck5">
                    LG
                </label>
              </div>
                 <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Acer" name="manufacturer" id="flexCheck6">
                <label class="form-check-label" for="flexCheck6">
                    Acer
                </label>
              </div>
              <input type="submit" value="OK">
          </form>
      </ul>
</asside>

    <main>
    <div class="album py-5 bg-light">
    <div class="container">
      <main class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
           {% for product in page_obj %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg>
            <div class="card-body">
              <h4 class="card-text">{{ product.title }}</h4>
                <p class="card-text">manufacturer {{product.manufacturer}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'store:product' pk=product.pk %}" role="button" class="btn btn-sm btn-outline-secondary">Перейти</a>
                </div>
                <small class="text-muted">price {{product.price}}</small>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </main>
</content>
{% endblock %}