{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<content>
     <div class="d-grid gap-2">
      <button class="btn btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Фильтры
  </button>
     </div>
     <div class="collapse container" id="collapseExample">
        <asside class="container">
            <ul>
              <form action="{% url 'store:catalog' %}">
                  <div class="row">
                      <div class="col">
                          <h5>Тип</h5>
                          {% for type in types %}
                          <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ type.id }}" name="type" id="{{ type.id }}">
                                <label class="form-check-label" for="{{ type.id }}">
                                    {{ type.title }}
                                </label>
                          </div>
                          {% endfor %}
                      </div>
                      <div class="col">
                          <h5>Производитель</h5>
                          {% for manufacturer in manufacturers %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ manufacturer.id }}" name="manufacturer" id="{{ manufacturer.id }}">
                                <label class="form-check-label" for="{{ manufacturer.id }}">
                                    {{ manufacturer.title }}
                                </label>
                            </div>
                          {% endfor %}
                      </div>
                  <input type="submit" value="Применить" class="btn btn-white">
                  </div>
              </form>
          </ul>
        </asside>
     </div>
    <main>
        <div class="py-5">
        <div class="container">
          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-2">
               {% for product in products %}
              <div class="col" onclick="javascript:location.href='{% url 'store:product' pk=product.pk %}';">
                    <div class="card h-100">
                        <a href="{% url 'store:product' pk=product.pk %}" >
                            <img src="{{ product.photo.url}}" class="card-img-top">
                        </a>
                     <div class="card-body">
                         <h6 class="card-text" style="width: 6rem;">{{ product.title }}</h6>
                         <p class="card-text "><small class="text-muted">{{product.manufacturer}}|{{product.price}} P</small></p>
                     </div>
                    </div>
              </div>
              {% endfor %}
          </div>
        </div>
       </div>
    </main>
</content>
{% endblock %}