{% extends 'store/base.html' %}
{%load static %}
{% block content %}
  <aside>
      <ul>
          <form action="{% url 'store:catalog' %}">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="phone" name="type" id="flexCheck1">
                <label class="form-check-label" for="flexCheck1">
                    Phone
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="tv" name="type" id="flexCheck2">
                <label class="form-check-label" for="flexCheck2">
                    TV
                </label>
              </div>
                 <div class="form-check">
                <input class="form-check-input" type="checkbox" value="computer" name="type" id="flexCheck3">
                <label class="form-check-label" for="flexCheck3">
                    Computer
                </label>
              </div>
               <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Samsung" name="manufacturer" id="flexCheck4">
                <label class="form-check-label" for="flexCheck4">
                    Samsung
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="LG" name="manufacturer" id="flexCheck5">
                <label class="form-check-label" for="flexCheck5">
                    LG
                </label>
              </div>
                 <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Acer" name="manufacturer" id="flexCheck6">
                <label class="form-check-label" for="flexCheck6">
                    Acer
                </label>
              </div>
              <input type="submit" value="OK">
          </form>
      </ul>
  </aside>
  <main class="page container" id="page">
    <ul>
        {% for product in page_obj %}
        <li><a href="{% url 'store:product' pk=product.pk %}">{{product}}</a></li>
        {% endfor %}
    </ul>
  </main>
{% endblock %}