{% extends 'store/base.html' %}
{%load static %}
{% block content%}
    <ul>
        <li>title {{ product.title }}</li>
        <li>manufacturer {{product.manufacturer}}</li>
        <li>height {{product.height}}</li>
        <li>width {{product.width}}</li>
        <li>mass {{product.mass}}</li>
        <li>type {{product.type}}</li>
        <li>price {{product.price}}</li>
    </ul>

    <form action="{% url 'store:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>
{% endblock %}