{% extends 'base.html' %}
{%load static %}
{% load widget_tweaks %}
{% block content %}
 <div class="container">
    <div class="row align-items-center">
        <div class="order-info">
            <h3>Цена</h3>
            <ul class="list-group">
                {% for item in cart %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <p>
                                {{ item.quantity }}x {{ item.product.title }}
                                <span>${{ item.total_price }}</span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </ul>
            <p>Общая: ${{ cart.get_total_price }}</p>
        </div>
        <form method="post">{% csrf_token %}
             <div class="row g-3">
                 <div class="col-sm-6">
                     {{ form.as_p }}
                     <input type="submit" value="Сохранить" class="btn btn-sm btn-outline-secondary">
                     <a href="{% url 'cart:cart_detail'%}" role="button" class="btn btn-sm btn-outline-secondary">Перейти в корзину</a>
                 </div>
             </div>
        </form>
    </div>
 </div>
{% endblock %}